<div class="container">
  <div class="row">
    <div class="card col-sm-6 mx-auto mt-5">

      <div>
        <i class="fa fa-history"></i><%= link_to "戻る", admin_news_index_path %>
      </div>

      <%= render 'layouts/error_messages', messages: @new %>

      <div class="card-body">
        <h3 class="mt-1 mb-3">お知らせ登録</h3>
        <%= form_with model: @new, url: admin_news_index_path, local:true do |f| %>

        <div class="form-group">
          <%= f.label :news_image, "お知らせ写真", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.attachment_field :news_image, autocomplete: "news_image" %>
        </div>

        <div class="form-group">
          <%= f.label :title, "お知らせタイトル", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :title, autocomplete: "title", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :message, "お知らせ本文", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_area :message, autocomplete: "text", :class => "form-control", :style => "height: 200px;" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録する", :class => "btn btn-primary btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>