<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table border="1">
				<thead>
				  <tr>
			      <h5 class="text-center" style="color: limegreen"><%= flash[:success] %></h5>
			    </tr>
				  <h3 class="text-center"><%= @user.name %>さんのユーザー情報</h3>
				</thead>
				<br><br>
				<tbody>
					<tr>
				    <th>氏名</th>
				    <td><%= @user.name %></td>
				  </tr>
				  <% if @user == current_user %>
				  <tr>
				    <th>メールアドレス</th>
				    <td><%= @user.email %></td>
				  </tr>
				  <% end %>
				  <tr>
				    <th>自己紹介</th>
				    <td><%= @user.introduction %></td>
				  </tr>
				</tbody>
			</table>
 <br>
 			<% if @user == current_user %>
			<table border="1">
			  <tr>
					<td>
						<% if @user == current_user %>
							<%= link_to "ユーザー情報を編集する", edit_user_user_path(@user), :class => "btn btn-primary" %>
						<% end %>
					</td>
					<td>
			  		<%= link_to "お知らせ", user_news_index_path, :class => "btn btn-primary" %>
			  	</td>
			  </tr>
			  <tr>
			  	<td>
			  		<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "btn btn-primary" %>
			  	</td>
			  </tr>
			</table>
			<% end %>
		</div>
	</div>
</div>