<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "CafeWhere", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
         <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
      </li>
      <!--<li class="nav-item">-->
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
      <!--   <!%= link_to "ジャンル登録", admin_genres_path, class: "nav-link" %>-->
      <!--</li>-->
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
         <%= link_to "ニュース登録", new_admin_news_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
         <%= link_to "投稿イラスト", admin_pictures_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
         <%= link_to "投稿質問", admin_questions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>